<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>刪除文章</title>
</head>
<body>
    <form action="/delete" method="POST"><!--發出網址請求 -->
        
        
        原文章標題為？<input type="text" name="title"/><br>
        
        <hr/>
        <button  style="width:120px;height:40px;font-size:150%;color:red;">刪除文章</button>
    </form>
</body>
</html>