<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員系統</title>
</head>
<body>
    <h3>會員天地</h3>
    <p>可以開始撰寫文章！</p>
    <form action="/article" method="POST"><!--發出網址請求 -->
        
        請輸入您的email<input type="text" name="email"/><br>
        文章標題<input type="text" name="title"/><br>
        文章內容<input type="text" name="content"/><br>
        <button>發文</button>
    </form>
    <a href="/signout">登出囉！</a>
    
</body>
</html>