<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>更改文章</title>
    <style>body{text-align: center}</style>
</head>
<body>
    <h3>更改文章</h3>
    
    <form action="/modify" method="POST"><!--發出網址請求 -->
        
        
        原文章標題為？<input type="text" name="title"/><br>
        文章標題改為？<input type="text" name="motitle"/><br>
        文章內容更改為？<input type="text" name="content"/><br>
        <hr/>
        <button style="width:120px;height:40px;font-size:150%;color:rgb(127, 163, 214);">更動文章</button>
    </form>
    
</body>
</html>